# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/HelloWorld/Debug
/HelloWorld/TestVirtual/Debug
/HelloWorld/HelloWorld/Debug
/HelloWorld/ipch
/HelloWorld/HelloWorld.sdf
/HelloWorld/HelloWorld.suo
/HelloWorld/TestString/Debug
/HelloWorld/HelloWorld.opensdf
/HelloWorld/TestConstruct/Debug
/HelloWorld/TestCopyAssign/Debug
/HelloWorld/TestThisPoint/Debug
/HelloWorld/TestConst/Debug
/HelloWorld/TestRTTI/Debug
/HelloWorld/TestException/Debug
/HelloWorld/TestStatic/Debug
/HelloWorld/TestFunction/Debug
/HelloWorld/TestVirtualClass/Debug
/HelloWorld/TestCallback/Debug
/HelloWorld/Leetcode/Debug
